@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-green: #00FFAE;
  --custom-dark-green: #00cf8e;
  --charcoal: #0c0c0c;
}

.glow-btn {
  border-radius: 100px;
  background-color: var(--custom-dark-green);
}

.glow-btn:hover {
  border-radius: 100px;
  background-color: var(--custom-green);
}

.charcoal {
  background-color: VAR(--charcoal);
}

