@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --custom-blue: #00ccff;
  --custom-dark-blue: #00add8;
  --charcoal: #0c0c0c;
}

.glow-btn {
  background-color: var(--custom-blue);
}

.glow-btn:hover {
  background-color: var(--custom-dark-blue);
}

.charcoal {
  background-color: VAR(--charcoal);
}

@keyframes transitions {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.languages {
  animation: transitions 2s ease-in-out infinite forwards;
}